
#hamnav {
    width: 100%;
    background: #233a80;
    position: sticky;
    top: 0;
  }
  #hamitems { display: flex; }
  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  #hamitems a:hover { background:  #10a0c4; }

  #hamnav label, #hamburger { display: none; }
  

  @media screen and (max-width: 768px){
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
    }
  
    #hamnav label {
      display: inline-block;
      color: white;
      background:  #10a0c4;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
  }
  
  html, body {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
    background-color: #fdfbd6;
  }

  .bio{
      padding: 20px;
  }

  .profile-picture{
      margin: 20px;
      float: left;
  }

  #logo{
    font-size: 20px;
    background-color: #10a0c4;
  }

  p{
    font-size: larger;
  }

  #brand-logo{
    margin: 2px;
    }