
#hamnav {
    width: 100%;
    background: #233a80;
    position: sticky;
    top: 0;
  }
  #hamitems { display: flex; }
  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  #hamitems a:hover { background:  #10a0c4; }

  #hamnav label, #hamburger { display: none; }
  

  @media screen and (max-width: 768px){
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
    }
  
    #hamnav label {
      display: inline-block;
      color: white;
      background:  #10a0c4;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
  }
  
  html, body {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
    background-color: #fdfbd6;
  }

 .header{
     padding: 20px;
 }


 .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card{
      background-color: #2d2a7b ;
      height: 200px;
      margin: 10px;
  }


  #logo{
    font-size: 20px;
  }


  /* ----------portfolio */


.subtitle{
  font-size: 18px;
}


.card-title{
  width: 100%;
  padding: 0;
  background: #263238;
  color:white;
  top:0;
}

.card .card-image .card-title{
  bottom: unset;

}








  .grid{
    min-height: 600px !important;
  }

  .card{
    min-height: inherit;
    margin: 5px;
    padding: 5px;
  }

  img{
    object-fit:cover;
    width:100%;
    height:100%;
    border-radius: 25px;
  }


  .wrapper{
    /* display: grid;
    grid-template-columns: 
    "p1 p2 p3"; */
    display: flex;
  }
  
  
  #portfolio-nav{
    background-color: darkorange;
  }